// Variables
@import "variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';
// Font-Awesome
@import '~font-awesome/scss/font-awesome';

body {
  font-size: 1rem;
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.nav.nav-tabs li.nav-item a.active {
  background-color: $white;
}

.vertical-content {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.form-group.required .control-label:before,
.form-row.required .control-label:before {
  margin-right: 2px;
  content: "*";
  color: red;
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}

.breadcrumb {
  margin: 16px 0;
}


